<div class="jumbotron">
<form class="form-inline">
  <div class="input-group">
    <div class="input-group-addon">ºC</div>
    <input type="number" class="form-control" id="celsius">
  </div> ~
  <div class="input-group">
    <div class="input-group-addon">ºF</div>
    <input type="number" class="form-control" id="fahrenheit">
  </div>
</form>
</div>