<div class="jumbotron">
    <div class="form-area">  
        <form role="form">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Formulario de Contacto</h3>
    				<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required data-bind="value: name">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="email" name="email" placeholder="Email" required data-bind='value: email'>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Teléfono" required data-bind='value: mobile'>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto del mensaje" required data-bind='value: subject'>
					</div>
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Mensaje" maxlength="140" rows="7"></textarea>                   
                    </div>
            
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right" disabled>Enviar</button>
        </form>
    </div>
</div>
 <div class="col-md-5">
     <p data-bind="text: fullData"></p>
 </div>
 
  
  <!--<script src="js/knockout/app.js"></script>-->