<div class="jumbotron">    
  <script type="text/x-handlebars">
    <div class="container">
      <h3>Handlebars helper</h3>
      <div>
        {{format-date "LLL" createdAt}}
      </div>
      
      <h3>Computed Properties</h3>
      {{input value=format}}
      {{input value=date}}
      <div>{{formattedDate}}</div>
    </div>
  </script>
</div>